<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
   
    <add name="StoreContext" connectionString="Data Source=OLASUPO-OLAWALE\MSSQLSERVEROLA;Initial Catalog=Northwind;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>